

{{ .ansiColor.Red }}███████╗███╗   ███╗ █████╗ ██████╗ ████████╗██████╗  █████╗ ██████╗ ██╗  ██╗██╗███╗   ██╗ ██████╗
{{ .ansiColor.Red }}██╔════╝████╗ ████║██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗██╔══██╗██╔══██╗██║ ██╔╝██║████╗  ██║██╔════╝
{{ .ansiColor.Red }}███████╗██╔████╔██║███████║██████╔╝   ██║   ██████╔╝███████║██████╔╝█████╔╝ ██║██╔██╗ ██║██║  ███╗
{{ .ansiColor.Red }}╚════██║██║╚██╔╝██║██╔══██║██╔══██╗   ██║   ██╔═══╝ ██╔══██║██╔══██╗██╔═██╗ ██║██║╚██╗██║██║   ██║
{{ .ansiColor.Red }}███████║██║ ╚═╝ ██║██║  ██║██║  ██║   ██║   ██║     ██║  ██║██║  ██║██║  ██╗██║██║ ╚████║╚██████╔╝
{{ .ansiColor.Red }}╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝
{{ .ansiColor.Green }} Now: {{ .now }}
{{ .ansiColor.Green }} NumCPU: {{ .numCPU }}
{{ .ansiColor.Green }} GOOS: {{ .GOOS }}
{{ .ansiColor.Green }} GOARCH: {{ .GOARCH }}
{{ .ansiColor.Green }} Compiler: {{ .Compiler }}


